//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
$screen-s:                  480px !default;
$screen-s-min:              ($screen-s - 1) !default;

// Small screen / tablet
$screen-sm:                 768px !default;
$screen-sm-min:             ($screen-sm - 1) !default;

// Medium screen / desktop
$screen-m:                  1024px !default;
$screen-m-min:              ($screen-m - 1) !default;

// Large screen / Macbook Pro 15"
$screen-l:                  1200px !default;
$screen-l-min:              ($screen-l - 1) !default;

// Macbook pro 15" / Wide Screen
$screen-lg:                 1440px !default;
$screen-lg-min:             ($screen-lg - 1) !default;


//== Color Variables
//
//## Define the color code.
$c-white: #ffffff;
$c-black: #000000;
